<div class="section-title">
    <h2>About</h2>
    <p> My name is Riya Shastri.
        I have been working as a
        <span class="position">Senior Consultant</span>
        in Narola Infotech for 4 years.
        I’m a front-end developer who loves building user-friendly websites and web apps with Angular Framework.
        I have a hands on experience in <span class="position"> Angular 2+ </span> versions.
    </p>
</div>

<div class="row">
    <div class="col-lg-4" data-aos="fade-right">
        <img src="assets/img/r.jpeg" class="img-fluid" alt="">
    </div>
    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3> Personal Detail </h3>
        <div class="row">
            <div class="col-lg-6">
                <ul>
                    <ng-container *ngFor="let detail of myDetail">
                        <li *ngIf="detail.isDisplayLeft">
                            <i class="bi bi-chevron-right"></i>
                            <strong>{{detail.label}}:</strong>
                            <span>{{detail.value}}</span>
                        </li>
                    </ng-container>
                    <li><i class="bi bi-chevron-right"></i> <strong>Linkedin :</strong>
                        <span>
                            <a [href]="linkedinProfile" class="linkedin" target="_blank">
                                Account Detail
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul>
                    <ng-container *ngFor="let detail of myDetail">
                        <li *ngIf="!detail.isDisplayLeft">
                            <i class="bi bi-chevron-right"></i>
                            <strong>{{detail.label}}:</strong>
                            <span>{{detail.value}}</span>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 content" data-aos="fade-right">
        <h3 class="mt-3">Overview</h3>
        <ul>
            <ng-container *ngFor="let overview of overviews">
                <li>
                    <i class="bi bi-chevron-right"></i>
                    <span>{{overview}}</span>
                </li>
            </ng-container>
        </ul>
    </div>
</div>