<div class="section-title">
    <h2> Projects </h2>
    <p>In my 4 years of experience, I have worked on many different modules like : </p>
    <ul>
        <li *ngFor="let module of moduleList">
            <i class="bi bi-chevron-right"></i>
            <span>{{module}}</span>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-sm-3 mb-3" *ngFor="let project of projectDetail">
        <div class="card custom-card">
            <div class="project-image-wrapper">
                <img src="assets/img/projectImg/{{project['logo']}}" class="card-img-top cardimg" alt="projectImg"
                    *ngIf="project['logo']">
                <img src="assets/img/projectImg/12.png" class="card-img-top cardimg" alt="projectImg"
                    *ngIf="!project['logo']">
            </div>

            <div class="card-body align-items-center ">
                <h5 class="card-title moreProjectDetail" (click)="moreDetailClick(project)">{{project['projectName']}}
                </h5>
            </div>
        </div>
    </div>
</div>

<div *ngIf="displayModel == 'block' && selectedProjectDetail">
    <app-common-modal [displayModel]="displayModel" (isCloseModel)="isCloseModel($event)"
        [modalData]="selectedProjectDetail"></app-common-modal>
</div>